# netplanner managed
{% include 'network_includes/match.j2' %}

{% include 'network_includes/network.j2' %}
{%- include 'network_includes/nameserver.j2' %}

{%- if interface.object_name not in ['Bond', 'Dummy'] and parent_interface is defined and parent_interface != None %}
{%- for parent_interface_name, parent_interface in parent_interface.items() %}
{%- if parent_interface.object_name == 'Bridge' %}
{% include 'network_includes/bridge_port.j2' %}
{%- endif %}
{%- endfor %}
{%- endif %}

{%- include 'network_includes/link.j2' %}
{%- include 'network_includes/route.j2' %}
{%- include 'network_includes/route_policy.j2' %}
