# netplanner managed
[Match]
{%- if interface.match is defined and interface.match != None %}
{%- if interface.match.name is defined and interface.match.name != None %}
Name={{ interface.match.name }}
{%- endif %}
{%- if interface.match.macaddress is defined and interface.match.macaddress != None %}
MACAddress={{ interface.match.macaddress }}
{%- endif %}
{%- if interface.match.driver is defined and interface.match.driver != None %}
Driver={{ interface.match.driver }}
{%- endif %}
{%- else %}
{%- if interface.macaddress != None and interface.macaddress %}
PermanentMACAddress={{ interface.macaddress }}
{%- else %}
OriginalName={{ interface_name }}
{%- endif %}
{%- endif %}
[Link]
{%- if interface.object_name == 'Ethernet' %}
WakeOnLan=off
{%- if interface.set_name != None %}
Name={{ interface.set_name }}
{%- endif %}
{%- endif %}
{%- if interface.mtu != None %}
MTUBytes={{ interface.mtu }}
{%- endif %}
