# MIMIR managed
[Network]
{%- if interface.description != None %}
Description={{ interface.description }}
{%- endif %}
{%- if interface.vrf is defined and interface.vrf != None %}
VRF={{ interface.vrf }}
{%- endif %}
{%- if interface.description != None %}
Description={{ interface.description }}
{%- endif %}
{%- if interface.link_local %}
LinkLocalAddressing={{ interface.link_local | to_systemd_link_local }}
{%- if 'ipv6' in interface.link_local %}
IPv6LinkLocalAddressGenerationMode=eui64
{%- endif %}
{%- endif %}
{%- if interface.emit_lldp != None %}
EmitLLDP={{ interface.emit_lldp | to_systemd_bool }}
{%- endif %}
{%- if interface.addresses %}
{%- for address in interface.addresses %}
Address={{ address }}
{%- endfor %}
{%- endif %}
{%- if interface.object_name in ['Bond' 'Bridge'] %}
{%- for child_interface_name, child_interface in child_interfaces.items() %}
{{ child_interface.object_name }}={{ child_interface_name }}
{%- endfor %}
{%- endif %}
{#
DNSDefaultRoute=
NTP=
IPVLAN=
ActiveSlave=
PrimarySlave=
#}