# MIMIR managed
[Network]
Description=
DHCP=
DHCPServer=
LinkLocalAddressing=
IPv6LinkLocalAddressGenerationMode=
IPv6StableSecretAddress=
IPv4LLRoute=
DefaultRouteOnDevice=
IPv6Token=
LLMNR=
MulticastDNS=
DNSOverTLS=
DNSSEC=
DNSSECNegativeTrustAnchors=
LLDP=
EmitLLDP=
BindCarrier=
Address=
Gateway=
DNS=
Domains=
DNSDefaultRoute=
NTP=
IPForward=
IPMasquerade=
IPv6PrivacyExtensions=
IPv6AcceptRA=
IPv6DuplicateAddressDetection=
IPv6HopLimit=
IPv4AcceptLocal=
IPv4RouteLocalnet=
IPv4ProxyARP=
IPv6ProxyNDP=
IPv6ProxyNDPAddress=
IPv6SendRA=
DHCPv6PrefixDelegation=
IPv6MTUBytes=
BatmanAdvanced=
IPVLAN=
ActiveSlave=
PrimarySlave=
ConfigureWithoutCarrier=
IgnoreCarrierLoss=
Xfrm=
KeepConfiguration=