[Route]
Gateway=
GatewayOnLink=
Destination=
Source=
Metric=
IPv6Preference=
Scope=
PreferredSource=
Table=
Protocol=
Type=
InitialCongestionWindow=
InitialAdvertisedReceiveWindow=
QuickAck=
FastOpenNoCookie=
TTLPropagate=
MTUBytes=
IPServiceType=
TCPAdvertisedMaximumSegmentSize=
MultiPathRoute=
NextHop=