# MIMIR managed
[RoutingPolicyRule]
TypeOfService=
From=
To=
FirewallMark=
Table=
Priority=
IncomingInterface=
OutgoingInterface=
SourcePort=
DestinationPort=
IPProtocol=
InvertRule=
Family=
User=
SuppressPrefixLength=
Type=