[Neighbor]
Address=
LinkLayerAddress=

[IPv6AddressLabel]
Label=
Prefix=



[NextHop]
Id=
Gateway=
Family=
OnLink=
Blackhole=
Group=



[DHCPv4]
SendHostname=
Hostname=
MUDURL=
ClientIdentifier=
VendorClassIdentifier=
UserClass=
DUIDType=
DUIDRawData=
IAID=
Anonymize=
RequestOptions=
SendOption=
SendVendorOption=
UseDNS=
RoutesToDNS=
UseNTP=
RoutesToNTP=
UseSIP=
UseMTU=
UseHostname=
UseDomains=
UseRoutes=
RouteMetric=
RouteTable=
RouteMTUBytes=
UseGateway=
UseTimezone=
FallbackLeaseLifetimeSec=
RequestBroadcast=
MaxAttempts=
ListenPort=
DenyList=
AllowList=
SendRelease=
SendDecline=

[DHCPv6]
MUDURL=
SendOption=
SendVendorOption=
UserClass=
VendorClass=
PrefixDelegationHint=
UseAddress=
UseDNS=
ForceDHCPv6PDOtherInformation=
WithoutRA=
RapidCommit=

[DHCPv6PrefixDelegation]
SubnetId=
Announce=
Assign=
Token=
ManageTemporaryAddress=
RouteMetric=

[IPv6AcceptRA]
UseDNS=
UseDomains=
RouteTable=
RouteMetric=
UseAutonomousPrefix=
UseOnLinkPrefix=
RouterDenyList=
RouterAllowList=
PrefixDenyList=
PrefixAllowList=
RouteDenyList=
RouteAllowList=
DHCPv6Client=

[Bridge]
UnicastFlood=
MulticastFlood=
MulticastToUnicast=
NeighborSuppression=
Learning=
HairPin=
UseBPDU=
FastLeave=
AllowPortToBeRoot=
ProxyARP=
ProxyARPWiFi=
MulticastRouter=
Cost=
Priority=

[BridgeFDB]
MACAddress=
Destination=
VLANId=
VNI=
AssociatedWith=
OutgoingInterface=

[LLDP]
MUDURL=

[BridgeVLAN]
VLAN=
EgressUntagged=
PVID=