Mode={{ interface.parameters.mode.value }}
{%- if interface.parameters.mii_monitor_interval != None %}
MIIMonitorSec={{ interface.parameters.mii_monitor_interval }}ms
{%- endif %}
{#
# UpDelaySec=
# DownDelaySec=
# LearnPacketIntervalSec=
# AdSelect=
# AdActorSystemPriority=
# AdUserPortKey=
# AdActorSystem=
# FailOverMACPolicy=
# ARPValidate=
# ARPIntervalSec=
# ARPIPTargets=
# ARPAllTargets=
# PrimaryReselectPolicy=
# ResendIGMP=
# PacketsPerSlave=
# GratuitousARP=
# AllSlavesActive=
# DynamicTransmitLoadBalancing=
# MinLinks=
#}