Id={{ interface.id }}
{%- if interface.parameters.protocol %}
Protocol={{ interface.parameters.protocol }}
{%- endif %}
{%- if interface.parameters.gvrp %}
GVRP={{ interface.parameters.gvrp | to_systemd_bool }}
{%- endif %}
{%- if interface.parameters.mvrp %}
MVRP={{ interface.parameters.mvrp | to_systemd_bool }}
{%- endif %}
{%- if interface.parameters.loose_binding %}
LooseBinding={{ interface.parameters.loose_binding | to_systemd_bool }}
{%- endif %}
{%- if interface.parameters.reorder_header %}
ReorderHeader={{ interface.parameters.reorder_header | to_systemd_bool }}
{%- endif -%}
