# MIMIR managed
VNI={{ interface.parameters.vni }}
Local={{ interface.parameters.local }}
DestinationPort={{ interface.parameters.destination_port }}
{%- if interface.parameters.remote != None %}
Remote={{ interface.parameters.remote }}
{%- endif %}
{%- if interface.parameters.tos != None %}
TOS={{ interface.parameters.tos }}
{%- endif %}
{%- if interface.parameters.ttl != None %}
TTL={{ interface.parameters.ttl }}
{%- endif %}
{%- if interface.parameters.mac_learning != None %}
MacLearning={{ "yes" if interface.parameters.mac_learning else "no" }}
{%- endif %}
{%- if interface.parameters.fdb_ageing_sec != None %}
FDBAgeingSec={{ interface.parameters.fdb_ageing_sec }}
{%- endif %}
{%- if interface.parameters.maximum_fdb_entries != None %}
MaximumFDBEntries={{ interface.parameters.maximum_fdb_entries }}
{%- endif %}
{%- if interface.parameters.reduce_arp_proxy != None %}
ReduceARPProxy={{ "yes" if interface.parameters.reduce_arp_proxy else "no" }}
{%- endif %}
{%- if interface.parameters.l2_miss_notification != None %}
L2MissNotification={{ "yes" if interface.parameters.l2_miss_notification else "no" }}
{%- endif %}
{%- if interface.parameters.l3_miss_notification != None %}
L3MissNotification={{ "yes" if interface.parameters.l3_miss_notification else "no" }}
{%- endif %}
{%- if interface.parameters.route_short_circuit != None %}
RouteShortCircuit={{ "yes" if interface.parameters.route_short_circuit else "no" }}
{%- endif %}
{%- if interface.parameters.udp_checksum != None %}
UDPChecksum={{ "yes" if interface.parameters.udp_checksum else "no" }}
{%- endif %}
{%- if interface.parameters.udp_6_zero_checksum_tx != None %}
UDP6ZeroChecksumTx={{ "yes" if interface.parameters.udp_6_zero_checksum_tx else "no" }}
{%- endif %}
{%- if interface.parameters.udp_6_zero_checksum_rx != None %}
UDP6ZeroChecksumRx={{ "yes" if interface.parameters.udp_6_zero_checksum_rx else "no" }}
{%- endif %}
{%- if interface.parameters.remote_checksum_tx != None %}
RemoteChecksumTx={{ "yes" if interface.parameters.remote_checksum_tx else "no" }}
{%- endif %}
{%- if interface.parameters.remote_checksum_rx != None %}
RemoteChecksumRx={{ "yes" if interface.parameters.remote_checksum_rx else "no" }}
{%- endif %}
{%- if interface.parameters.group_policy_extension != None %}
GroupPolicyExtension={{ "yes" if interface.parameters.group_policy_extension else "no" }}
{%- endif %}
{%- if interface.parameters.generic_protocol_extension != None %}
GenericProtocolExtension={{ "yes" if interface.parameters.generic_protocol_extension else "no" }}
{%- endif %}
{%- if interface.parameters.flow_label != None %}
FlowLabel={{ interface.parameters.flow_label }}
{%- endif %}
{%- if interface.parameters.ip_do_not_fragment != None %}
IPDoNotFragment={{ "yes" if interface.parameters.ip_do_not_fragment else "no" }}
{%- endif -%}
