{%- if interface.nameservers is defined and interface.nameservers != None %}
{%- for address in interface.nameservers.addresses %}
DNS={{ address }}
{%- endfor %}
{%- if interface.nameservers.search %}
Domains={{ interface.nameservers.search | join(" ") }}
{%- endif %}
{%- endif %}
{#-
DNSOverTLS=
DNSSEC=
DNSSECNegativeTrustAnchors=
-#}