# MIMIR managed

[NetDev]
{%- if interface.description is defined %}
Description={{ interface.description }}
{%- endif %}
Name={{ interface_name }}
Kind={{ interface.object_name | lower }}
MTUBytes={{ interface.mtu }}
{%- if interface.macaddress %}
MACAddress={{ interface.macaddress }}
{%- endif %}

{%- if interface.object_name != "Dummy" %}
[{{ interface.object_name }}]
{%- if interface.object_name is "Bridge" %}
{% include "netdev_includes/bridge.j2" %}
{%- elif interface.object_name is "VLAN" %}
{% include "netdev_includes/vlan.j2" %}
{%- elif interface.object_name is "VXLAN" %}
{% include "netdev_includes/vxlan.j2" %}
{%- elif interface.object_name is "Bond" %}
{% include "netdev_includes/bond.j2" %}
{%- elif interface.object_name is "VRF" %}
{% include "netdev_includes/vrf.j2" %}
{%- endif %}
{%- endif %}
