# MIMIR managed

[NetDev]
{%- if interface.description is defined %}
Description={{ interface.description }}
{%- endif %}
Name={{ interface_name }}
Kind={{ interface.object_name | lower }}
MTUBytes={{ interface.mtu }}
{%- if interface.macaddress %}
MACAddress={{ interface.macaddress }}
{%- endif %}

[{{ interface.object_name }}]
{%- if interface.object_name is "Bridge" %}
{% include "includes/bridge.j2" %}
{%- elif interface.object_name is "VXLAN" %}
{% include "includes/vxlan.j2" %}
{%- elif interface.object_name is "Bond" %}
{% include "includes/bond.j2" %}
{%- endif %}
