# Ansible managed

[Match]
{%- if interface.mac_address is not None and interface.object_name in ['Ethernet'] %}
PermanentMACAddress={{ interface.mac_address }}
{%- else %}
Name={{ interface_name }}
{%- endif %}

[Network]
{%- if interface.description is defined %}
Description={{ interface.description }}
{%- endif %}
VRF={{ interface.vrf }}
{%- if interface.object_name in ['Bond' 'Bridge'] %}
{%- for child_interface_name, child_interface in child_interfaces.items() %}
{{ child_interface.object_name }}={{ child_interface_name }}
{%- endif %}
LinkLocalAddressing={{ "yes" if 'ipv6' in interface.link_local else "no" }}
IPv6LinkLocalAddressGenerationMode=eui64
[Match]
Name=ens1f0

[Network]
LinkLocalAddressing=no
Bond=bond-uplink
PrimarySlave=true

[Link]
MACAddress=
MTUBytes=
ARP=
Multicast=
AllMulticast=
Promiscuous=
Unmanaged=
Group=
RequiredForOnline=
RequiredFamilyForOnline=
ActivationPolicy=

[SR-IOV]
VirtualFunction=
VLANId=
QualityOfService=
VLANProtocol=
MACSpoofCheck=
QueryReceiveSideScaling=
Trust=
LinkState=
MACAddress=

[Network]
Description=
DHCP=
DHCPServer=
LinkLocalAddressing=
IPv6LinkLocalAddressGenerationMode=
IPv6StableSecretAddress=
IPv4LLRoute=
DefaultRouteOnDevice=
IPv6Token=
LLMNR=
MulticastDNS=
DNSOverTLS=
DNSSEC=
DNSSECNegativeTrustAnchors=
LLDP=
EmitLLDP=
BindCarrier=
Address=
Gateway=
DNS=
Domains=
DNSDefaultRoute=
NTP=
IPForward=
IPMasquerade=
IPv6PrivacyExtensions=
IPv6AcceptRA=
IPv6DuplicateAddressDetection=
IPv6HopLimit=
IPv4AcceptLocal=
IPv4RouteLocalnet=
IPv4ProxyARP=
IPv6ProxyNDP=
IPv6ProxyNDPAddress=
IPv6SendRA=
DHCPv6PrefixDelegation=
IPv6MTUBytes=
BatmanAdvanced=
IPVLAN=
ActiveSlave=
PrimarySlave=
ConfigureWithoutCarrier=
IgnoreCarrierLoss=
Xfrm=
KeepConfiguration=

[Address]
Address=
Peer=
Broadcast=
Label=
PreferredLifetime=
Scope=
RouteMetric=
HomeAddress=
DuplicateAddressDetection=
ManageTemporaryAddress=
AddPrefixRoute=
AutoJoin=

[Neighbor]
Address=
LinkLayerAddress=

[IPv6AddressLabel]
Label=
Prefix=

[RoutingPolicyRule]
TypeOfService=
From=
To=
FirewallMark=
Table=
Priority=
IncomingInterface=
OutgoingInterface=
SourcePort=
DestinationPort=
IPProtocol=
InvertRule=
Family=
User=
SuppressPrefixLength=
Type=

[NextHop]
Id=
Gateway=
Family=
OnLink=
Blackhole=
Group=

[Route]
Gateway=
GatewayOnLink=
Destination=
Source=
Metric=
IPv6Preference=
Scope=
PreferredSource=
Table=
Protocol=
Type=
InitialCongestionWindow=
InitialAdvertisedReceiveWindow=
QuickAck=
FastOpenNoCookie=
TTLPropagate=
MTUBytes=
IPServiceType=
TCPAdvertisedMaximumSegmentSize=
MultiPathRoute=
NextHop=

[DHCPv4]
SendHostname=
Hostname=
MUDURL=
ClientIdentifier=
VendorClassIdentifier=
UserClass=
DUIDType=
DUIDRawData=
IAID=
Anonymize=
RequestOptions=
SendOption=
SendVendorOption=
UseDNS=
RoutesToDNS=
UseNTP=
RoutesToNTP=
UseSIP=
UseMTU=
UseHostname=
UseDomains=
UseRoutes=
RouteMetric=
RouteTable=
RouteMTUBytes=
UseGateway=
UseTimezone=
FallbackLeaseLifetimeSec=
RequestBroadcast=
MaxAttempts=
ListenPort=
DenyList=
AllowList=
SendRelease=
SendDecline=

[DHCPv6]
MUDURL=
SendOption=
SendVendorOption=
UserClass=
VendorClass=
PrefixDelegationHint=
UseAddress=
UseDNS=
ForceDHCPv6PDOtherInformation=
WithoutRA=
RapidCommit=

[DHCPv6PrefixDelegation]
SubnetId=
Announce=
Assign=
Token=
ManageTemporaryAddress=
RouteMetric=

[IPv6AcceptRA]
UseDNS=
UseDomains=
RouteTable=
RouteMetric=
UseAutonomousPrefix=
UseOnLinkPrefix=
RouterDenyList=
RouterAllowList=
PrefixDenyList=
PrefixAllowList=
RouteDenyList=
RouteAllowList=
DHCPv6Client=

[Bridge]
UnicastFlood=
MulticastFlood=
MulticastToUnicast=
NeighborSuppression=
Learning=
HairPin=
UseBPDU=
FastLeave=
AllowPortToBeRoot=
ProxyARP=
ProxyARPWiFi=
MulticastRouter=
Cost=
Priority=

[BridgeFDB]
MACAddress=
Destination=
VLANId=
VNI=
AssociatedWith=
OutgoingInterface=

[LLDP]
MUDURL=

[BridgeVLAN]
VLAN=
EgressUntagged=
PVID=