# MIMIR managed
[Match]
{%- if interface.mac_address != None and interface.mac_address %}
PermanentMACAddress={{ interface.mac_address }}
{%- else %}
OriginalName={{ interface_name }}
{%- endif %}
[Link]
{%- if interface.object_name == 'Ethernet' %}
WakeOnLan=off
{%- endif %}
MTUBytes={{ interface.mtu }}
