# MIMIR managed
[Match]
{%- if interface.mac_address != None and interface.object_name in ['Ethernet'] %}
PermanentMACAddress={{ interface.mac_address }}
{%- else %}
Name={{ interface_name }}
{%- endif %}

{%- include 'network_includes/network.j2' -%}
{%- include 'network_includes/nameserver.j2' -%}

{% include 'network_includes/link.j2' %}
