# Ansible managed

[NetDev]
Description={{ interface.description }}
Name={{ interface_name }}
Kind={{ interface.object_name | lower }}

[{{ interface.object_name }}]
STP={{ "Yes" if interface.parameters.stp else "No" }}

