STP={{ "Yes" if interface.parameters.stp else "No" }}

HelloTimeSec={{ interface.parameters. }}
MaxAgeSec={{ interface.parameters. }}
ForwardDelaySec={{ interface.parameters. }}
AgeingTimeSec={{ interface.parameters. }}
Priority={{ interface.parameters. }}
GroupForwardMask={{ interface.parameters. }}
DefaultPVID={{ interface.parameters. }}
MulticastQuerier={{ interface.parameters. }}
MulticastSnooping={{ interface.parameters. }}
VLANFiltering={{ interface.parameters. }}
VLANProtocol={{ interface.parameters. }}
STP={{ "yes" if interface.parameters.stp else "no" }}
MulticastIGMPVersion={{ interface.parameters. }}