# MIMIR managed
Id={{ interface.id }}
{%- if interface.parameters.protocol %}
Protocol={{ interface.parameters.protocol }}
{%- endif %}
{%- if interface.parameters.gvrp is not None %}
GVRP={{ "yes" if interface.parameters.gvrp else "no" }}
{%- endif %}
{%- if interface.parameters.mvrp is not None %}
MVRP={{ "yes" if interface.parameters.mvrp else "no" }}
{%- endif %}
{% if interface.parameters.loose_binding is not None %}
LooseBinding={{ interface.parameters.loose_binding }}
{%- endif %}
{%- if interface.parameters.reorder_header %}
ReorderHeader={{ interface.parameters.reorder_header }}
{%- endif -%}
