# Ansible managed

[Match]
Name=eth1

[Network]
VRF=tenant_vrf
DHCP=no
IPv6AcceptRA=yes
LinkLocalAddressing=ipv6
LLDP=routers-only
EmitLLDP=yes
LinkLocalAddressing=ipv6

